.grid-initial {
    display: grid;
    height: 100%;
    max-height: 100vh;
    grid-template-rows: 8rem auto;
}

.intro-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / -1;
}

.grid-order {
    display: grid;
    height: 100%;
    max-height: 100vh;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: auto 40rem;
}
